<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Wish</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="./assets/img/vueLogo.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link href="./assets/style/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <nav>
        <div class="nav-container">
          <div id="logo">
            <router-link to="/">
              <img src="./assets/img/wish-logo-800.png" alt="logo" />
            </router-link>
          </div>
  
          <ul id="icons">
            <li>
              <router-link to="/user-settings">
                <i class="fas fa-user"></i>
              </router-link>
            </li>
           
            <li>
              <router-link to="/wish-list">
                <i class="fas fa-heart"></i>
                <span id="nav-notif"></span>
              </router-link>
            </li>

            <li>
              <router-link to="/shopping-cart">
                <i class="fas fa-shopping-cart"></i>
              </router-link>
            </li>
          </ul>
        </div>
      </nav>

      <router-view></router-view>
    </div>

    <!-- home template component -->
    <script type="text/x-template" id="home">
      <div class="home-container">
        <h1>Articles</h1>

        <!-- search display -->
        <input v-model="searchKey" id="search" type="search" placeholder="Rechercher..." autocomplete="off">
        <span v-if="searchKey && filteredList.length >= 1 ">
          {{filteredList.length}} résultat<span v-if="filteredList.length >= 2">s</span>
        </span>

        <!-- cards display -->
        <div class="card-cart-container">
          <div class="card-container">
            <div class="card" v-for="product in filteredList">

              <div class="img-container">
                <img v-bind:src='product.img' />
              </div>

              <div class="card-icons">
                <div class="like-container">
                  <input
                    type="checkbox"
                    :value=product.id
                    name="checkbox"
                    v-bind:id="product.id"
                    v-model="liked"
                    @click="setLikeCookie()"
                  />
                  <label v-bind:for="product.id">
                    <i class="fas fa-heart"></i>
                  </label>
                </div>
                <div class="add-to-cart">
                  <button v-on:click="addToCart(product)">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- no result message -->
            <div v-if="filteredList.length == []" class="no-result">
              <p>Aucun résultat</p>
            </div>
          </div>

          <!-- cart display -->
          <transition name="cart-anim">
            <div v-if="cart.length > 0" class="shopping-cart" id="shopping-cart">
              <h2>Panier</h2>

              <transition-group name="item-anim" tag="div" class="item-group">
                <div v-for="product, id in cart" class="item" v-bind:key="product.id">

                  <div class="img-container">
                    <img v-bind:src='product.img' />
                  </div>

                  <div class="item-description">
                    <h4>{{ product.description }}</h4>
                    <p>{{ product.price }}€</p>
                  </div>

                  <div class="item-quantity">
                    <h6>Quantité : {{ product.quantity }}</h6>

                    <div class="cart-icons">
                      <button>
                        <i class="fa fa-plus" @click="cartPlusOn(product)"></i>
                      </button>

                      <button>
                        <i class="fa fa-minus" @click="cartMinusOn(product, id)"></i>
                      </button>

                      <button>
                        <i class="fa fa-trash" @click="deleteCartById(id)"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </transition-group>

              <div class="grand-total">
                <div class="total">
                  <h2>Total :</h2>
                  <h2>{{ cartTotalAmount() }}€</h2>
                </div>
                <h6>Total articles : {{ cartTotalQuantity() }}</h6>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </script>

      <!-- VueJS -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

      <!-- vue-router -->
      <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>

      <!-- vue Cookie -->
      <script src="https://unpkg.com/vue-cookies@1.8.3/vue-cookies.js"></script>

  
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/script.js"></script>
  </body>
</html>
